
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
    cursor: default;
}

body{
    margin: 0px;
    background-color: #404756;
}

.container{
    margin: 2em 3em 4em 3em;
    color: white;
    font-family: 'Montserrat';
}

.cabecalho{
    background-color: #107AD1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 2em 0px 2em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 14em;
    align-items: center;
}

.informacoes-usuario{
    max-width: 50em;
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 20em;
    line-height: 3em;
}

.informacoes-usuario p{
    margin: 5px;
}

.imagem-cabecalho img{
    width: 250px;
}
.imagem-cabecalho{
    margin-right: 2em;
    position: absolute;
    margin-top: 5em;
}

.email-telefone{
    display: flex;
    flex-direction: column;

}

.et{
    background-color: #0D62A7;
    border-radius: 40px;
    width: 150px;
    min-height: 3em;
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    min-width: 13em;
    font-size: 21px;
    font-weight: 700;
}

.cab-esquerda{
    display: flex;
    flex-direction: row;
}

.painel-central{
    background-color: #2A3244;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 2em 3em;
    margin-top: 10em;
}

.nm{
    font-weight: 700;
    font-size: 60px;
}

.pr{
    font-weight: 400;
    font-size: 40px;
}

.es{
    font-weight: 600;
    font-size: 50px;
}

.baixo-painel{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.informacoes-painel{
    min-height: 25em;
}

.informacoes-painel h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1px;
}

.redes-sociais{
    font-size: 60px;
    font-weight: 700;
    line-height: 1px;
}

.rede-social{
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.rede-social img{
    width: 55px;
}

.idiomas h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 1.2em;
    margin-top: 1em;
}

.idiomas h2{
    font-size: 50px;
    font-weight: 400;
}

.idiomas{
    line-height: 7px;
    margin-left: 15em;
}

.div-vagas-interesse h1{
    font-size: 60px;
    font-weight: 700;
}

.div-vagas-interesse{
    display: flex;
    flex-direction: column;
}

.vagas{
    display: flex;
    flex-direction: row;
}

.vaga{
    font-size: 50px;
    font-weight: 400;
    background-color: #107AD1;
    border-radius: 40px;
    text-align: center  ;
    min-width: 15%;
    margin-right: 0.5em;
}

.div-mensagem{
    font-size: 60px;
    font-weight: 700;
    margin-top: 3em;
}

.usuario-chat img{
    width: 120px;
}

.usuario-chat h1{
    font-size: 50px;
    font-weight: 700;
}

.usuario-chat{
    display: flex;
    flex-direction: row;
    padding: 0.7em 0em 0em 1em;
}

.box-mensagem{
    background-color: #2A3244;
    border-radius: 20px;
    max-width: 800px;
}